@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-300;
}

.btn {
  @apply bg-blue-500 text-white px-6 py-2 rounded-lg text-sm transition-all duration-200;
}


._1nzuaz72 {
  display: block;
}

.bTxNJR {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #b8add2;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  pointer-events: inherit;
  padding: 0px 16px;
  height: 48px;
}

.bPOyEc {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #434575, #66578d);
  overflow: hidden;
}

.chfQFH {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.cyLbdv {
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 32px;
  padding: 0px 16px;
  background-color: #1fc7d4;
  color: #191326
}

.cZeLOv {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: #27262c;
  border-bottom: 1px solid #383241;
  transform: translate3d(0px, 0px, 0px);
  padding-left: 16px;
  padding-right: 16px;
}

.dGJnQD {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  max-width: 100%;
  overflow: hidden auto;
}

.dPwWVs {
  align-self: center;
  fill: #f4eeff;
  color: #f4eeff;
  flex-shrink: 0;
}

.ehOcez {
  position: relative;
  display: flex;
  max-width: 100vw;
}

.eOKfsA {
  display: flex;
  height: calc(100vh - 100px);
}

.fOPopv {
  display: flex;
}

.ggzm1z0 {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.iuuTdc {
  margin-top: 0px;
}

.iWIALT {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 24px 0px;
  flex: 1 1 0%;
  overflow: hidden;
}

.lbEZGW {
  margin-left: 24px;
}

.qopKT {
  height: 100%;
}

.center {
  position: absolute;
  margin: 0 auto;
}


/******************************************* Current Bet ************************************/
.--container-wrapper {
  background: rgb(156, 181, 181);
  border-radius: 25px;
  width: 50%;
  height: 50%px;
  position: relative;
  margin: 0 auto;
}

.--container-inner {
  background: #383241;
  border-radius: 25px;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin: 0 auto;
}

.--center-vertical {
  position: absolute;
  border-radius: 0px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.--button-container {
  display: block;
  border-radius: 25px;
  width: 40%;
  height: 20%;
  align-self: flex-end;
  position: relative;
}

.--button-text {
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
}

.---a {
  text-align: left;
  background-color: rgb(13, 158, 25);
  background-image: linear-gradient(235deg, rgb(99, 212, 131) 0%, rgba(79, 168, 158, 0.008) 80%);
}

.---b {
  text-align: left;
  background-color: rgb(228, 56, 56);
  background-image: linear-gradient(235deg, rgb(230, 173, 106) 0%, rgba(240, 115, 115, 0.008) 80%);
}

.iAuguQ {
  position: relative;
  background-color: inset 0px 2px 2px -1px rgba(74, 74, 104, .1);
  box-shadow: #372f47;
  overflow: hidden;
  border-radius: 0px;
  height: 8px;
}


.line {
  content: '';
  position: absolute;
  text-align: left;
  width: 100%;
  height: 7px;
  background: rgb(124, 108, 108);
  top: 11%;
  border-color: bisque;
}

.order {
  position: absolute;
  font-weight: bold;
  color: white;
  /* font-size: 20px; */
}

.input {
  position: absolute;
  top: 68%;
  color: rgb(208, 26, 208);
  width: 50%;
  height: 7%;
  font-weight: bold;
}

.price-tag {
  position: absolute;
  text-align: center;
  top: 15%;
  text-transform: uppercase;
  font-weight: bold;
}

.price-start {
  font-size: 12px;
}

.prize {
  font-size: 12px;
}

.price {
  font-size: 25px;
  color: red;
  color: rgb(9, 149, 9);
}

table,
th,
td {
  border: 1 px solid black;
  text-align: left;
  color: white;
  padding: 0 15px;
}